* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
}
header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-bottom: 20px; */
    background-color: brown;
    color: beige;
}
nav {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: darkred;
    color: beige;
}
.navs {
    list-style: none;
}
nav ul li { 
    display: inline-block;
}

.navlink {
    text-decoration: none;
    color: beige;
    font-weight: 900;
}

.mavs, li{
    margin-right: 15px;
    margin-left: 15px;
}

.sidelink a{
    text-decoration: none;
    color: crimson;
    font-weight: 550;
}
section {
    display: flex;
    justify-content: space-between;
}
div {
    flex-basis: 60%;
    background-color: rgb(255, 149, 107);
    padding: 25px 30px;
    margin : 10px;
}
aside {
    background: rgb(255, 226, 183);
    flex-basis: 39%;
    padding: 25px 30px;
    margin : 10px;
}
aside ul {
    margin-left: 3px;
}
footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    background-color: rgba(207, 24, 0, 0.925);
    color: beige;
}