* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
}
header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-color: brown;
    color: beige;
}
.navs {
    list-style: none;
    display: inline-block;
    text-align: center;
    display: flex;

}

a {
    text-decoration: none;
    color: brown;
    font-weight: 900;
}

.mavs, li{
    margin-right: 5px;
}
.navpos {
    display: inline-block;
}