div{
    background-color: tomato;
    padding: 5% 10%;
    margin-bottom: 1%;
}
/* This Is class */
.second{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aqua;
}
/* This it "ID" */
#last{
    background-color: aquamarine;
}



/* 

    HTML-এ, class ব্যবহার করা হয় একই ধরনের একাধিক এলিমেন্টকে স্টাইল করতে, আর ID ব্যবহার হয় একটি নির্দিষ্ট, ইউনিক এলিমেন্টকে টার্গেট করার জন্য। একটি class যতবার খুশি ব্যবহার করা যায়, কিন্তু একটি ID একটি পেজে একবারই ব্যবহার করা উচিত। CSS-এ, class সিলেক্ট করতে ডট (.class) এবং ID সিলেক্ট করতে হ্যাশ (#id) ব্যবহার করা হয়। তাই সাধারণ স্টাইলিংয়ের জন্য class ব্যবহার করুন, আর নির্দিষ্ট কোনো এলিমেন্টের জন্য ID।

*/

